[Desktop Entry]
Encoding=UTF-8
Categories=Game;ArcadeGame;3DGraphics;
X-Desktop-File-Install-Version=0.15
Name=Oolite
GenericName=An updated recreation of the classic game, Elite
Comment=3D Combat and trading
Exec=/usr/lib/GNUstep/System/Applications/oolite.app/oolite
Terminal=false
Type=Application
Icon=/usr/lib/GNUstep/System/Applications/oolite.app/Resources/Images/WMicon.bmp
